.card {
  width: 500px;
  height: 500px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0 0 10px 10px;
}

.mat-expansion-panel-header {
  font-size: medium;
}

.cardHeader {
  display:flex;
}

.title {
  flex-grow: 1;
  cursor: unset;
  margin: 10px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  height: calc(500px - 48px);
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.description {
  word-wrap: break-word;
}

p {
  margin:10px;
  color: gray;
  font-size: medium;
}

.search {
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  border:0;
  border-bottom:2px solid;
  margin: 10px;
}

.search:focus {
  border-bottom:2px solid #78788c
}
